Django==1.5.2
PIL==1.1.7
South==0.8.2
dj-database-url==0.2.2
django-classy-tags==0.4
#django-cms==3.0
-e git+https://github.com/divio/django-cms.git#egg=django-cms
django-mptt==0.5.2
django-sekizai==0.7
django-storages==1.1.8
boto
gunicorn==17.5
html5lib==1.0b3
psycopg2==2.5.1
six==1.3.0
wsgiref==0.1.2
djangocms-admin-style==0.1.2
cmsplugin-filer==0.9.5
django-reversion==1.7
